body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color:white;
    background-color:black;
}

main {
    padding-top:32px;
    margin: 16px;
}

a {
    color:skyblue;
}

#site-header {
    font-size:32px;
    background-color: grey;
    display:flex;
    gap:24px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    #site-navbar{
        display:flex;
        gap:12px;
    }
    a {
        color:white;
        text-decoration: none;
    }
}